// --- System-wide logic --- //

$colors: (
  black: #000000,
  white: #ffffff,

  gray-1: #686868,
  gray-2: #a5a5a5,
  gray-3: #d6d6d6,
  gray-4: #ececec,

  blue-1: #486caa
);

$font-sizes: (
  xs: 9px,
  s: 11px,
  m: 13px,
  l: 15px
);

$time-column-min-width: 80px;
$time-tick-height: 30px;

@mixin helvetica-stack() {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

/* --- Top-level styles --- */

#day-viewer {
  @include helvetica-stack();

  display: flex;
  justify-content: center;
  margin: 30px 0;
}

// --- Include all partials --- //

@import 'events-panel/events-panel';
@import 'time-column/time-column';
